.el-header{
    background-color: #333;
}
.sub-nav{
    .navbar-header{
        padding-top: 20px;
        padding-bottom: 20px;
        span{
            font-size: 24px;
            color: #337ab7;
            font-weight: bold;
            padding-left: 20px;
        }
    }
}
.content_tile{
    background-color: #F4F8FA;
    border-left: 2px solid #0099DD;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 6px;
    .title{
        font-size: 24px;
        font-weight: bold;
        color: #0099DD;
    }
}
.num{
    font-size: 20px;
    font-weight: bold;
    span{
        color: #0099DD;
        font-size: 18px;
    }
}
#sub_form{
    .row{
        margin-top: 10px;
        select{
            width: 300px;
        }
        input{
            width: 300px;
        }
    }
}
